/*  your css code here. If applicable */
#grid{
     display:grid;
	grid-template-columns:242.5px 242.5px 242.5px 242.5px;
	grid-template-rows:124px 124px 124px 124px 124px ;
	grid-gap: 10px 10px;	
}

#box1{
	grid-column:span 4 / auto;
	background-color:green;
	color:white;
}


#box2{
	grid-row: span 4 / auto;
	background-color:green;
	color:white;
}#box3{
	background-color:green;
	color:white;
}

#box4{
	grid-column:span 2 / auto;
	background-color:green;
	color:white;
}#box5{
grid-column:span 2 / auto;
	background-color:green;
	color:white;
}
#box6,#box7,#box8,#box9{
	background-color:green;
	color:white;
}
#box10{
grid-column:span 3 / auto;
	background-color:green;
	color:white;
}